:root {
  --clr-neutral-100: hsla(0, 0%, 90%, 0.8);
  --clr-neutral-400: hsl(0, 0%, 50%);
  --clr-neutral-500: hsl(0, 0%, 40%);
  --clr-neutral-600: hsl(0, 0%, 30%);
  --clr-neutral-900: hsl(0, 0%, 10%);

  --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.005),
    0 6.7px 5.3px rgba(0, 0, 0, 0.011), 0 12.5px 10px rgba(0, 0, 0, 0.018),
    0 22.3px 17.9px rgba(0, 0, 0, 0.026), 0 41.8px 33.4px rgba(0, 0, 0, 0.038),
    0 100px 80px rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
  user-select: none;
  cursor: var(--grab);
}

body {
  font-family: 'Noto Sans TC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  background-color: var(--clr-neutral-400);
  background-image: url('./images/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-size: 2rem;
  /* min-height: 100vh; */
}

/* reset */
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
  font-weight: 400;
}
input,
button {
  font: inherit;
  border: none;
  background: none;
  outline: none;
}

button {
  cursor: pointer;
}

/* #region lane */

.lanes {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-rows: minmax(300px, 1fr);
  padding-top: 2rem;

  max-width: 1200px;
  margin: auto;
  /* min-height: 100vh; */
  place-content: center;
  overflow: hidden;
}

.lane {
  --clr-modifier: 250;
  --clr-primary: var(--clr-modifier), 50%, 40%;
  --clr-secondary: var(--clr-modifier), 50%, 80%;
  display: flex;
  flex-direction: column;
  background-color: hsl(var(--clr-secondary));
  border-radius: 0.25rem;
  align-self: center;
  min-height: 500px;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  opacity: 0;
  /* transform: translateY(-100%); */
}

.lane__title {
  font-size: 2rem;
}

.lane__header {
  text-align: center;
  background-color: hsl(var(--clr-primary));
  color: white;
  padding: 0.25rem;
  text-transform: uppercase;
}

.lane__header__form {
  display: none;
  background-color: white;
  position: absolute;
  top: 5px;
  right: 5px;
  left: 5px;
  bottom: 5px;
  text-align: center;
  /* border-radius: 1rem; */
}

.show-input .lane__header__form {
  display: block;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.form-group button {
  justify-self: right;
  grid-column: 1;
  grid-row-start: 1;
  color: green;
}

.lane__header__form input {
  width: 100%;
  grid-row-start: 1;
  grid-column-start: 1;
  text-align: center;
}

.tasks {
  padding: 0 0.25rem;
  flex-grow: 1;
  overflow-y: auto;
  overflow: hidden;
}

.task {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: white;
  cursor: var(--grab, grab);
  margin: 0.25rem 0;
  word-wrap: break-word;
  text-align: center;
  font-size: 1.5rem;
}

.task-input {
  padding: 0.5rem 1rem;
  border: none;
  background-color: hsl(var(--clr-primary));
  color: white;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
}

.task-input::placeholder {
  opacity: 0.6;
  font-weight: 300;
  color: var(--clr-neutral-100);
}

.lane:hover .task-input::placeholder {
  opacity: 1;
}

[data-draggable] {
  user-select: none;
}

[data-draggable].hide {
  display: none !important;
}

[data-draggable].dragging {
  position: absolute;
  opacity: 0.5;
  transform: rotate(5deg);
  pointer-events: none;
}

[data-draggable].ghost {
  background-color: black;
  opacity: 0.25;
}

/* color bar's position */
.lane__header {
  position: relative;
}

[data-color-bar] {
  position: absolute;
  top: -1.5rem;
  left: 0;
  opacity: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  pointer-events: none;
}

.color-bar-toggler {
  display: block;
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  background-size: cover;
  padding: 1rem;
  background-image: url(images/color-wheel.png);
  opacity: 0.6;
}

.color-bar-toggler:hover,
.color-bar-toggler:focus {
  opacity: 1;
  transform: scale(1.2);
}

.color-bar-toggler:focus + [data-color-bar],
[data-color-bar]:focus {
  opacity: 1;
  z-index: 1;
  pointer-events: initial;
}

.task-form {
  position: relative;
}

.submit-task-btn {
  position: absolute;
  z-index: -1;
  display: block;
  width: 1em;
  height: 1em;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%) rotate(-270deg);
  background: linear-gradient(90deg, white, white),
    linear-gradient(90deg, white, white), linear-gradient(90deg, white, white),
    linear-gradient(90deg, white, white);
  background-repeat: no-repeat;
  background-size: 0.25em 0.5em, 0.5em 0.25em, 0.25em 0.5em, 0.5em 0.25em;
  background-position: 50% -200%, 300% 50%, 50% 300%, -200% 50%;
  transition: transform 0.5s ease-out, background-position 0.5s 0.3s,
    z-index 0s 1s;
  opacity: 0.5;
}

.show-add-button .submit-task-btn {
  z-index: 1;
  transform: translateY(-50%) rotate(0deg) scale(1);
  background-position: top center, right center, bottom center, left center;
  transition: transform 0.3s ease-out 0.3s, background-position 0.5s;
}

.submit-task-btn:active,
.submit-task-btn:hover {
  opacity: 0.9;
}

/* delete button */
.task {
  position: relative;
}

.delete-btn {
  cursor: pointer;
  position: absolute;
  display: none;
  left: 50%;
  right: 0;
  bottom: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: black;
}

.delete-btn::after {
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  z-index: -1;
  background-color: rgba(255, 0, 0, 0.952);
}

.delete-mode .task:hover .delete-btn {
  display: block;
}

.delete-mode .lane__header:hover .delete-btn {
  display: block;
}

/* #endregion */

/* #region toolbar */
header {
  position: sticky;
  top: 0;
  margin-bottom: 2rem;
  padding: 1.5rem 0;
  /* background-color: black; */
  z-index: 100;
  background-color: hsla(0, 0%, 0%, 0);
  transition: background-color 0.5s linear;
}

.scroll-down header {
  background-color: hsla(0, 0%, 0%, 1);
}

.toolbar ul {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.toolbar__list-item {
  position: relative;
  cursor: pointer;
  display: grid;
  place-content: center;
}

.toolbar__list-item > button {
  display: grid;
  place-content: center;
  font-size: min(15vw, 5rem);
  color: hsl(0, 0%, 100%);
}
.toolbar__list-item > label {
  width: max-content;
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 1.3rem;
  transform: scale(0.5) translateX(-50%);
  opacity: 0;
  transition: transform, opacity, color;
  transition-duration: 0.3s;
  transform-origin: left;
}
.toolbar__list-item:hover > label {
  transform: scale(1) translate(-50%, 50%);
  opacity: 1;
  color: hsl(0, 0%, 100%);
}

.delete-mode .delete-mode-text {
  opacity: 1;
  transform: scale(1) translate(-50%, 50%);
  color: hsl(0, 0%, 100%);
}

.add-circle {
  color: hsl(118, 88%, 68%);
}
.trash {
  color: hsl(0, 88%, 68%);
}
.cloud-upload {
  color: hsl(178, 88%, 68%);
}
.cloud-download {
  color: hsl(66, 88%, 68%);
}
/* #endregion */

/* range slider */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: hsl(var(--clr-secondary));
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: hsl(var(--clr-primary));
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: hsl(var(--clr-primary));
  cursor: pointer;
}
